<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>添加查询</title>
		<link rel="stylesheet" type="text/css" href="css/mkui-base.css"/>
		<style type="text/css">
			body{
				margin-left: auto;
				margin-right: auto;
				max-width: 640px;
			}
			h1{
				margin-top: 20px;
				margin-bottom: 20px;
			}
			ul{
				border-radius: 4px;
				border:1px solid #ddd;
				margin:10px;
			}
			a{
				display: block;
			}
			li{
				padding: 8px 15px;
				font-size: 16px;
				color: #333;
				border-top: 1px solid #ddd;
			}
			li:hover{
				background: #f2f2f2;
			}
			li:first-child{
				border-top: none;
			}
		</style>
	</head>
	<body>
		<h1 class="text-c">第一期作业 闫宇韬</h1>
		<ul>
			<li><a href="./add.html">添加数据</a></li>
			<li><a href="./show.html">展示数据</a></li>
		</ul>

	</body>
</html>
