extends layout

block content
    h1= title
    p
        a(href="/users/reg.html") 去注册
    p
        用户名：
        input#userName
    p
        密  码：
        input#pwd
    p
        button#loginBtn 登陆

