body{
    width: 80%;
    margin: 0 auto;
}

.reminder-info{
    line-height: 40px;
    margin: 10px 0 0 -15px;
    font-weight: bold;
    border-radius: 5px;
}
.reminder-info p{
    padding-left: 10px;
    padding-right: 10px;
}