<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>

<% if (content){%>
        <h1><%= content %></h1>
<% }%>
<form action="/logout" method="get">
    <input type='submit' value='退出登录'>
</form>
</body>
</html>