<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS EXTEND</title>
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.css" type="text/css" rel="stylesheet">
    <style type="text/css">
        body{background: #F3F3F3;}
        .node{width: 600px;margin: 0 auto;padding-top: 50px;}
    </style>
</head>
<body>
<div class="node">
    <form class="reg">
        <h2 class="form-title">Add user</h2>
        <div class="form-group">
            <label for="exampleInputName2">用户名</label>
            <input type="text" class="form-control" id="exampleInputName" placeholder="用户名" name="name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">密码</label>
            <input type="text" class="form-control" id="exampleInputPassWord" placeholder="密码" name="password">
        </div>
        <div class="form-group">
            <label for="exampleInputName2">职业</label>
            <input type="text" class="form-control" id="exampleInputJob" placeholder="职业" name="profession">
        </div>
        <button type="submit" class="btn btn-default" onclick="reg()">注册</button>
    </form>
</div>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.2.0/jquery.js"></script>
<script type="text/javascript" src="../public/js/work.js"></script>

</body>
</html>